@{
    ViewBag.Title = "خطا";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}
<br/>
<div class="alert alert-warning text-center">
    <h2>شما به این درخواست قبلا پاسخ داده اید.</h2>
</div>

<img src="~/IMG/forbidden.png" class="img-circle center-block" alt="Duplicate Response" /> 


