@using Kendo.Mvc.UI

@{
    ViewBag.Title = "تماس با ما";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@*@(Html.Kendo().DatePicker()
              .Name("datepicker")
              .Value("10/10/2011")
              .HtmlAttributes(new { style = "width:150px" })
)*@


<h2>Contactus</h2>

