@using Microsoft.Ajax.Utilities
@using WallProject.Models
@{
    ViewBag.Title = "نذر نووووووو";
}
<link rel="stylesheet" type="text/css" href="~/css/slider.css" />
<script src="~/js/modernizr.custom.63321.js"></script>
<div class="banner">
    <div class="container">
        <div class="banner-info">
            <h1 class="animated fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">معرفی نذرهای نو<span>بنی آدم اعضای یکدیگرند   که در آفرینش زیک گوهرند</span></h1>
            <div class="banner-info1 animated wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <ul id="flexiselDemo1">
                    <li>
                        <div class="banner-info1-grid">
                            <img src="../../images/m2.jpg" alt=" " class="img-responsive"/>z

                            @*<h3>
                                لورم ایپسوم یا طرح‌نما
                            </h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد*@</p>
                        </div>
                    </li>
                    <li>
                        <div class="banner-info1-grid">

                            <img src="~/images/m.jpg" alt=" " class="img-responsive"/>
                            @*<h3>
                                لورم ایپسوم یا طرح‌نما
                            </h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد*@</p>
                        </div>
                    </li>
                    <li>
                        <div class="banner-info1-grid">

                            <img src="~/images/m1.jpg" alt=" " class="img-responsive"/>
                            @*<h3>
                                لورم ایپسوم یا طرح‌نما
                            </h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد*@</p>
                        </div>
                    </li>
                </ul>
                <script type="text/javascript">
                    $(window).load(function() {
                        $("#flexiselDemo1").flexisel({
                            visibleItems: 3,
                            animationSpeed: 1000,
                            autoPlay: true,
                            autoPlaySpeed: 3000,
                            pauseOnHover: true,
                            enableResponsiveBreakpoints: true,
                            responsiveBreakpoints: {
                                portrait: {
                                    changePoint: 480,
                                    visibleItems: 1
                                },
                                landscape: {
                                    changePoint: 640,
                                    visibleItems: 2
                                },
                                tablet: {
                                    changePoint: 768,
                                    visibleItems: 2
                                }
                            }
                        });

                    });
                </script>
                <script type="text/javascript" src="../../js/jquery.flexisel.js"></script>
                @*<div class="more wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <a href="single.html" class="hvr-curl-bottom-left">
                        ادامه مطلب
                    </a>
                </div>*@
            </div>
        </div>
    </div>
</div>
<!-- //banner -->
<!-- banner-bottom -->
<!--ترحمه شده توسط مرجع تخصصی برنامه نویسان-->
<div class="banner-bottom">
    <div class="container">
        <h2 class="text-center">معرفی دیوار مهربانی</h2>
        <p>در این سایت ما قصد داریم تا با کمک شما عزیزان  دیوارهای مهربانی را معرفی کنیم و همچنین نذرهای شما عزیزان را به اشتراک بگذاریم.برای این کار شما می توانید در سایت ما ثبت نام کنید و نذرهایی که داریدرا به اشتراک بگذارید. </p>
        
    </div>
</div>
<div class="banner-bottom-grids">
    <div class="col-md-5 banner-bottom-grid wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2>

            نقشه
        </h2>
        <p>.در این بخش سایت شما می توانید مکان تمامی دیوارهای مهربانی را در نقشه ببینید.به زودی امکان ثبت دیوارهای مهربانی برای شما کاربران عزیز مهیا می شود</p>
        <div class="more">
            @Html.ActionLink("ادامه مطلب", "NazreNo", "Home", null, new {@class = "hvr-curl-bottom-left"})



        </div>
    </div>
    <div class="col-md-7 banner-bottom-grid wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="banner-bottom-grid1">
            <img src="../../images/untitled.png" alt=" " class="img-responsive"/>
            <div class="banner-bottom-grid-pos">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                        <span class="sr-only">
                                30٪ کامل
                            </span>
                    </div>
                </div>
                <div class="progress progress1">
                    <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                        <span class="sr-only">
                                20٪ کامل
                            </span>
                    </div>
                </div>
                <div class="progress progress2">
                    <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                        <span class="sr-only">
                                30٪ کامل
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<!-- //banner-bottom -->
<!-- newsletter -->
<!--ترحمه شده توسط مرجع تخصصی برنامه نویسان-->
<div class="newsletter">
    <div class="container">
        <div class="newsletter-info">
            <h3 class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                عضویت در خبرنامه
            </h3>
            <p class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">در حال حاضر خبری ثبت نشده است</p>
            <form class="wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                <input type="mail" value="ایمیل را وارد کنید" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your Email';}" required="">
                <input type="submit" value="ارسال">
            </form>
        </div>
    </div>
</div>
<!-- //newsletter -->
<!-- newsletter-bottom -->
<div class="newsletter-bottom">
    <div class="container">
        <div class="newsletter-bottom-grids">
            <div class="text-center">
                <h2>تازه ترین ها</h2>
            </div>
            <div id="mi-slider" class="mi-slider">
                <ul>
                    @foreach (Goods nazr in (List<Goods>) ViewBag.LastestNazrs)
                    {
                        <li><a href="#"><img width="280" height="200" src="~/IMG/@nazr.PictureName" alt="@nazr.Title"/><h4>@nazr.Title</h4></a></li>
                    }
                </ul>
                <ul>
                    <li><a href="#"><img src="~/images/s5.jpg" alt="img05"><h4>Belts</h4></a></li>
                    <li><a href="#"><img src="~/images/s6.jpg" alt="img06"><h4>Hats &amp; Caps</h4></a></li>
                    <li><a href="#"><img src="~/images/s7.jpg" alt="img07"><h4>Sunglasses</h4></a></li>
                    <li><a href="#"><img src="~/images/s8.jpg" alt="img08"><h4>Scarves</h4></a></li>
                </ul>
                <ul>
                    <li><a href="#"><img src="~/images/s9.jpg" alt="img09"><h4>Casual</h4></a></li>
                    <li><a href="#"><img src="~/images/s10.jpg" alt="img10"><h4>Luxury</h4></a></li>
                    <li><a href="#"><img src="~/images/s11.jpg" alt="img11"><h4>Sport</h4></a></li>
                </ul>
                <nav>
                    <a href="#">آخرین نذرها</a>
                    <a href="#">آخرین اخبار</a>
                    <a href="#">آخرین دیوارهای مهربانی</a>
                </nav>
            </div>
        </div>

    </div>
</div>
<!-- //newsletter-bottom -->
<!-- footer -->
<!--ترحمه شده توسط مرجع تخصصی برنامه نویسان-->
<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-3 footer-grid wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h3>

                    لورم ایپسوم یا طرح‌نما
                </h3>
                <div class="footer-grd-right">
                    <img src="../../images/6.jpg" class="img-responsive" alt=" "/>
                </div>
                <div class="footer-grd-right">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-3 footer-grid wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h3>

                    لورم ایپسوم یا طرح‌نما
                </h3>
                <ul>
                    <li>
                        <a href="#">لورم ایپسوم متن ساختگی</a>
                    </li>
                    <li>
                        <a href="#"> طراحی گرافیک </a>
                    </li>
                    <li>
                        <a href="#"> طراحی گرافیک </a>
                    </li>
                    <li>
                        <a href="#">لورم ایپسوم متن ساختگی</a>
                    </li>
                    <li>
                        <a href="#">لورم ایپسوم متن ساختگی</a>
                    </li>
                    <li>
                        <a href="#">صفحه‌آرایی و طراحی گرافیک</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h3>

                    لورم ایپسوم یا طرح‌نما
                </h3>
                <ul>
                    <li>
                        <a href="#">لورم ایپسوم متن ساختگی</a>
                    </li>
                    <li>
                        <a href="#"> طراحی گرافیک </a>
                    </li>
                    <li>
                        <a href="#"> طراحی گرافیک </a>
                    </li>
                    <li>
                        <a href="#">لورم ایپسوم متن ساختگی</a>
                    </li>
                    <li>
                        <a href="#">لورم ایپسوم متن ساختگی</a>
                    </li>
                    <li>
                        <a href="#">صفحه‌آرایی و طراحی گرافیک</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h3>
                    فلیکر پست
                </h3>
                <div class="footer-grd">
                    <a href="#">
                        <img src="../../images/7.jpg" class="img-responsive" alt=" "/>
                    </a>
                </div>
                <div class="footer-grd">
                    <a href="#">
                        <img src="../../images/8.jpg" class="img-responsive" alt=" "/>
                    </a>
                </div>
                <div class="footer-grd">
                    <a href="#">
                        <img src="../../images/7.jpg" class="img-responsive" alt=" "/>
                    </a>
                </div>
                <div class="clearfix"> </div>
                <div class="footer-grd">
                    <a href="#">
                        <img src="../../images/8.jpg" class="img-responsive" alt=" "/>
                    </a>
                </div>
                <div class="footer-grd">
                    <a href="#">
                        <img src="../../images/7.jpg" class="img-responsive" alt=" "/>
                    </a>
                </div>
                <div class="footer-grd">
                    <a href="#">
                        <img src="../../images/8.jpg" class="img-responsive" alt=" "/>
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<div class="footer-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
    <div class="container">
        <p>
            کلیه حقوق مادی و معنوی برای مجموعه برنامه نویسان محفوظ می باشد<a href="http://barnamenevisan.org/">برنامه نویسان</a>
        </p>
    </div>
</div>
@section Scripts{
<script src="~/js/jquery.catslider.js"></script>
<script>
			$(function() {

				$( '#mi-slider' ).catslider();

			});
</script>
}